<div class="chat-app">
  <app-side></app-side>

  <div class="chat-app">

    <div class="sidebar">
      <!-- Barre latérale avec la liste des contacts -->
      <div class="sidebar-header">
        <h2>Divisions </h2>
        <div class="search-input">
          <input matInput images-placeholder="Rechercher" [matAutocomplete]="userss" class="form-control"
            placeholder="Rechercher  ...">

          <mat-autocomplete #userss="matAutocomplete">
            <mat-option *ngFor="let division of divisions | async" [value]="division">
              {{ division }}
            </mat-option>
          </mat-autocomplete>
        </div>



        <div *ngFor="let letter of sortedDivisions | keyvalue">
          <div class="contact-group">
            <ul>
              <li *ngFor="let division of letter.value" class="contact-item">
                <!-- <ng-container *ngIf="division != div">
                  <img [src]="'assets/images/avatar.jpeg'" alt="Contact 1" class="contact-avatar" />
                  <div class="contact-details">
                    <p mat-line class="chat-title">
                      <span class="contact-name">{{ division }}</span>
                    </p>
                  </div>
                </ng-container> -->

                <div *ngFor="let letterChat of sortedChats | keyvalue">
                  <ng-container *ngFor="let chat1 of letterChat.value">
                    <ng-container *ngIf="division === chat1.users[0].division">
                      <div>
                        <p mat-line>
                          <span style="font-weight: bold; text-align: right;" class="">{{ chat1.users[0].division }}</span>
                        </p>
                      </div>
                      <!-- <img [src]="'assets/images/avatar.jpeg'" alt="Contact 1" class="contact-avatar" /> -->


                      <div class="contact-group">
                        <div class="contact-group-header" style="font-weight: bold;" >{{ letterChat.key }}</div>
                        <ul>
                          <li *ngFor="let chat of letterChat.value" class="contact-item">
                            <img [src]="'assets/images/images-placeholder.png'" alt="Contact 1"
                              class="contact-avatar" />
                            <div class="contact-details">
                              <p mat-line class="chat-title">
                                <span class="contact-name">{{ chat.users[0].username }}</span>
                              </p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </ng-container>
                  </ng-container>

                </div>
              </li>
            </ul>
          </div>
        </div>




      </div>
    </div>
    <app-chat></app-chat>
  </div>
</div>