<div class="chat-app">
  <app-side></app-side>

  <div class="chat-app">

    <div class="sidebar">
      <!-- Barre latérale avec la liste des contacts -->
      <div class="sidebar-header">
        <h2>Divisions </h2>
        <div class="search-input">
          <input matInput images-placeholder="Rechercher" [matAutocomplete]="userss" class="form-control"
            placeholder="Rechercher  ...">

          <mat-autocomplete #userss="matAutocomplete">
            <mat-option *ngFor="let division of divisions | async" [value]="division">
              {{ division }}
            </mat-option>
          </mat-autocomplete>
        </div>
     


                 <div *ngFor="let letter of sortedDivisions | keyvalue">
                  <div class="contact-group">
                    <div class="contact-group-header">{{ letter.key }}</div>
                      <ul >
                        <li *ngFor="let division of letter.value" class="contact-item" >
                          <img [src]="'assets/images/avatar.jpeg'" alt="Contact 1" class="contact-avatar" />
                          <div class="contact-details">
                            <p mat-line class="chat-title">
                              <span class="contact-name">{{ division }}</span>
                            </p>
                          </div>
                        </li>
                      </ul>
                   
        </div>
        <app-chat></app-chat>	

    </div>
</div>