<div class="chat-app">

    <div class="sidebar">
        <!-- Barre latérale avec la liste des contacts -->
        <div class="sidebar-header">
            <h2>Discussions </h2>
            <div class="search-input">
                <input type="text" class="form-control" placeholder="Rechercher  ...">
                <!-- <mat-form-field>
                
                <input
                    matInput
                    images-placeholder="Rechercher"
                    [matAutocomplete]="users"
                >

            </mat-form-field>     -->
                <mat-autocomplete #users="matAutocomplete">
                    <!-- <mat-option 
                    *ngFor="let user of users$ |async"
                    (click)="createChat(user)"
                    >
                    {{ user?.displayName}}
                </mat-option>
                </mat-autocomplete> -->
            </div>
        </div>
        <ul class="contact-list">
            <li class="contact-item">
                <img [src]="'assets/images/images-placeholder.png'" alt="Contact 1" class="contact-avatar" />
                <div class="contact-details">
                    <p mat-line class="chat-title">
                        <span class="chat-name">
                            Awa Ndiaye
                        </span>
                        <span class="chat-date">
                            20/09/2023
                        </span>
                    </p>
                    <p mat-line>
                        Coucou
                    </p>
                </div>
            </li>

            <li class="contact-item">
                <img [src]="'assets/images/images-placeholder.png'" alt="Contact 1" class="contact-avatar" />
                <div class="contact-details">
                    <p mat-line class="chat-title">
                        <span class="chat-name">
                            Habiba Dramé
                        </span>
                        <span class="chat-date">
                            20/09/2023
                        </span>
                    </p>
                    <p mat-line>
                        maleu raw si lo nk
                    </p>
                </div>
            </li>
            <!-- Ajoutez d'autres contacts ici -->
        </ul>
    </div>
</div>