<div class="container-scroller">
  <div class="container-fluid page-body-wrapper p-0 d-flex" style="min-height: 100vh;">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Liste des agents </h4>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Division</th>
                        <th>Statut</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let agent of agents | async ">
                      <tr>
                        <td> {{agent.username}}</td>
                        <td>{{agent.email}}</td>
                        <td>{{agent.division}}</td>
                        <td>{{agent.status}}</td>
                        <td>
                          <button [routerLink]="['/info',agent.uid]" type="button"
                            class="btn btn-inverse-primary btn-sm btn-rounded btn-icon">
                            Voir plus
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
