<div class="chat-app">
    <app-side></app-side>
    <div class="chat-app">

        <div class="sidebar">
            <!-- Barre latérale avec la liste des contacts -->
            <div class="sidebar-header">
                <h2>Contacts </h2>
                <div class="search-input">
                    <input matInput images-placeholder="Rechercher" [matAutocomplete]="userss" class="form-control"
                        placeholder="Rechercher  ...">

                    <mat-autocomplete #userss="matAutocomplete">
                        <mat-option *ngFor="let user of users | async" [value]="user.username">
                            {{ user.username }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
            </div>
            <div *ngFor="let letter of sortedChats | keyvalue">
                <div class="contact-group">
                  <div class="contact-group-header">{{ letter.key }}</div>
                     <ul>
                        <li *ngFor="let chat of letter.value" class="contact-item" (click)="selectChat(chat.chatId, chat.users[0].username,chat.sharedKey)">
                            <img [src]="'assets/images/images-placeholder.png'" alt="Contact 1" class="contact-avatar" />
                            <div class="contact-details">
                                <p mat-line class="chat-title">
                                <span class="chat-name"  *ngFor="let chat of letter.value">{{ chat.users[0].username }}</span>
                                </p>
                            </div>
                        </li>
                  </ul>
                </div>
              </div>
              
              
          
        </div>
        <app-chat></app-chat>	

    </div>
</div>