<div class="container-scroller">
  <div class="container-fluid page-body-wrapper p-0 d-flex" style="min-height: 100vh;">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Liste des directeurs </h4>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Username</th>
                          <th>Email</th>
                          <th>Division</th>
                          <th></th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let director of directors | async ">
                      <tr>
                        <td> {{director.username}}</td>
                        <td>{{director.email}}</td>
                        <td>{{director.division}}</td>
                        <td>
                          <button [routerLink]="['/info',director.uid]" type="button"
                            class="btn btn-inverse-primary btn-sm btn-rounded btn-icon">
                            Voir plus
                          </button>

                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
