<nav class="sidebar" id="sidebar" style="height: 100%">

  <div class="dropdown ">
    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none "
      data-bs-toggle="dropdown" aria-expanded="false">
      <img src="assets/images/police.png" alt="mdo" width="40" height="40" class="rounded-circle">
    </a>
  </div>

  <ul class="nav">
    <!-- <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Tableau de bord</span>
      </a>
    </li> -->
    <li class="nav-item nav-category">Directeurs</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" routerLink="/listeDirecteur" aria-expanded="false"
        aria-controls="ui-basic">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title"> Directeurs</span>
        <i class="menu-arrow"></i>
      </a>
      <!-- <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
        </ul>
      </div> -->
    </li>
    <li class="nav-item nav-category">Agents </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" routerLink="/listeAgent" aria-expanded="false"
        aria-controls="form-elements">
        <i class="menu-icon mdi mdi-card-text-outline"></i>
        <span class="menu-title">Agents</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="form-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Basic Elements</a></li>
        </ul>
      </div>
    </li>

    <!-- <li class="nav-item nav-category">pages</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon mdi mdi-account-circle-outline"></i>
        <span class="menu-title">User Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
        </ul>
      </div>
    </li> -->
  </ul>
</nav>