.chat-app {
    display: flex;
    height: 100vh;
  }
  
.side{
    width: 5%;
    color: white;

  }
  .chat-app {
    display: flex;
    height: 100vh;
  }
  .icon{
    color: #7ca6c7;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
  
  }
  
  .nav-item:hover .icon-text {
    display: inline; /* Affichez le texte au survol */
  }

  .dropdown{
    top: 2em !important;
  }
  .nav{
    position: absolute;
    bottom: 0;
  }