<div class="chat-app">

    <div class="side">
        <div class="d-flex flex-column flex-shrink-0 " style="width: 4.5rem;">
            <div class="dropdown border-top">
                <a href="#"
                    class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small shadow" style="">
                    <li><a class="dropdown-item" href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Nouveau projet...</font>
                            </font>
                        </a></li>
                    <li><a class="dropdown-item" href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Paramètres</font>
                            </font>
                        </a></li>
                    <li><a class="dropdown-item" href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Profil</font>
                            </font>
                        </a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">se déconnecter</font>
                            </font>
                        </a></li>
                </ul>
            </div>
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                <li class="nav-item">
                    <a href="#" class="icon nav-link   rounded-0" aria-current="page"
                        >
                        <mat-icon matSuffix>chat</mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="icon nav-link   rounded-0" aria-current="page"
                        >
                        <mat-icon matSuffix>list</mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="icon nav-link   rounded-0" aria-current="page"
                        >
                        <mat-icon matSuffix>group</mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="icon nav-link   rounded-0" aria-current="page"
                        >
                        <mat-icon matSuffix>settings</mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="icon nav-link  py-3 border-bottom rounded-0" aria-current="page"
                        >
                        <mat-icon>exit_to_app</mat-icon>			
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>