<div class="chat-app">

    <div class="side">
        <div class="d-flex flex-column  " style="width: 4.5rem;">
            <div class="dropdown ">
                <a href="#"
                    class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none "
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="assets/images/police.png" alt="mdo" width="40" height="40" class="rounded-circle">
                </a>
                
            </div>
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                <li class="nav-item align-items-center justify-content-center ">
                    <a routerLink="/home" class="icon nav-link   rounded-0" aria-current="page">
                        <mat-icon matSuffix>chat</mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contacts" class="icon nav-link  rounded-0" aria-current="page">
                        <mat-icon matSuffix>perm_contact_calendar</mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/groups" class="icon nav-link   rounded-0" aria-current="page">
                        <mat-icon matSuffix>group</mat-icon>
                    </a>
                </li>
                <li class="nav-item" *ngIf profile = 'DIRECTEUR' >
                    <a routerLink="/add-agent" class="icon nav-link   rounded-0" aria-current="page">
                        <mat-icon matSuffix>person_add</mat-icon>
                    </a>
                </li>
                <li class="nav-item" *ngIf="profile == 'DIRECTEUR' " >
                    <a routerLink="/autorisation" class="icon nav-link   rounded-0" aria-current="page">
                        <mat-icon matSuffix>question_answer</mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/user/setting" class="icon nav-link   rounded-0" aria-current="page">
                        <mat-icon matSuffix>settings</mat-icon>
                    </a>
                </li>
              
                <li class="nav-item">
                    <button (click)="logout()"
                        class="icon nav-link  rounded-0" aria-current="page">
                        <mat-icon>exit_to_app</mat-icon>
                </button>
                </li>
                
            </ul>
        </div>
    </div>
</div>