<div class="chat-app">
	<app-side></app-side>
	<app-discussion></app-discussion>	


  <div class="col">
    <div class="row my-4">
      <div class="card-container">
        <div class="card">
          <div class="card-header pb-0">
            <h1>Changez de mot de passe</h1>
  
            <div class="row">
              <div class="card-body">
                <form role="form text-left ">
                  <div class="mb-3">
                    <input type="password" class="form-control" placeholder=" Mot de passe actuel"
                      aria-label=" Mot de passe actuel" aria-describedby="email-addon">
                  </div>
                  <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Nouveau mot de passe"
                      aria-label="Nouveau mot de passe" aria-describedby="email-addon">
                  </div>
                  <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Confirmez le mot de passe"
                      aria-label="Confirmez le mot de passe" aria-describedby="password-addon">
                  </div>
  
                  <div class="text-center">
                    <button type="button" class="btn bg-gradient-info w-100 my-4 mb-2">Valider</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  </div>
</div>
