.chat-app {
    display: flex;
    height: 100vh;
  }
  
/* Styles pour la barre latérale (sidebar) */
.sidebar {
    flex: 1;
    background-color: #c9e0f2;
    border-right: 1px solid #ddd;
    padding: 20px;
    min-width: 280px;
    width: 15%;
  }
  
  .sidebar-header {
    padding-bottom:0;
    text-align: center;
  }
  .sidebar-header > h2{
    text-align: left;
  }
  .contact-list {
    list-style: none;
    padding: 0;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .contact-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .contact-details {
    flex: 1;
  }
  
  .contact-details h3 {
    margin: 0;
    font-size: 16px;
  }
  .contact-item:hover {
    background-color: #ffffff5a;
    display: flex;
    padding-top: 8px;
    padding-bottom: 18px;
    padding-left: 8px;
    padding-right: 100px;
    margin-bottom: 8px;
    border-radius: 8px;
    width: fit-content;
    position: relative;
  
  
  }
  /* Styles au clic (active) d'un contact */
.contact-item:active {
    background-color: #ccc;
  }
  .icon{
    color: #7ca6c7;
    padding-bottom: 40px;
  }
  .search-input{
    margin: 24px;
    border-radius: 16px;
  }



  