<div class="chat-app">

    <div class="chat-container ">
        <!-- Interface de chat avec une conversation -->
        <div class="chat-header">
            <img [src]="'assets/images/images-placeholder.png'" alt="">
            <h2>Habiba Dramé</h2>

        </div>
        <ng-template #noMessage>

        </ng-template>
        <mat-divider></mat-divider>
        <div class="chat-messages">
            <!-- <ng-container *ngIf="currentUserId | async as currentUser"> -->
                <ng-container *ngIf="messages | async as messages">
                    <!-- <div class="message-bubble-container" [ngClass]="{'sender':message}"> -->
                        <div 
                            class="message-bubble-container"
                            [ngClass]="{'sender':message}"                         
                            *ngFor="let message of messages"

                        >


                        <div class="message-bubble">
                            {{message.content}}
                            <span class="chat-date">
                                {{message.sentAt}} 
                           </span>
                        </div>
                    </div>
                    <div hidden #endOfChat>

                    </div>
                </ng-container>
            <!-- </ng-container> -->
            <div class="message-bubble-container">
                <div class="message-bubble">
                    maleu raw si lo nk
                    <span class="chat-date">
                        27/09/2023
                    </span>
                </div>
            </div>
            <!-- Afficher les messages ici -->
        </div>
        <div class="chat-input">
            <mat-form-field appearance="outline">
                <input matInput [formControl]="messageControl" placeholder="Écrivez votre message..."
                    (keydown.enter)="sendMessage()" />
                <a matSuffix href="" (click)="sendMessage()">
                    <mat-icon matSuffix class="icon"> attach_file</mat-icon>
                </a>
                &nbsp;
                <a matSuffix href="" (click)="sendMessage()">
                    <mat-icon matSuffix class="icon">send</mat-icon>
                </a>
                <div matSuffix> </div>
                
            </mat-form-field>


        </div>
    </div>
</div>