
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    -webkit-user-select: none; /* Désactive la sélection de texte sur les navigateurs WebKit (Safari, Chrome) */
    -moz-user-select: none; /* Désactive la sélection de texte sur Firefox */
    -ms-user-select: none; /* Désactive la sélection de texte sur Internet Explorer */
    user-select: none; /* Désactive la sélection de texte sur les navigateurs compatibles */
  }