<div class="container-scroller">
    <div class="container-fluid page-body-wrapper p-0 d-flex" style="min-height: 100vh;">
        <app-sidebar></app-sidebar>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="home-tab">

                            <div class="tab-content tab-content-basic">
                                <div class="tab-pane fade show active" id="overview" role="tabpanel"
                                    aria-labelledby="overview">
                                    <div class="row">

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 d-flex flex-column">


                                            <div class="row flex-grow">
                                                <div class="col-sm-12 grid-margin stretch-card">
                                                    <div class="card card-rounded">
                                                        <div class="card-body card-rounded">
                                                            <h4 class="card-title  card-title-dash">Informations                                                               </h4>
                                                            <div class="list align-items-center border-bottom py-2">
                                                                <div class="wrapper w-100">
                                                                    <p class="mb-2 font-weight-medium">
                                                                        Nom d'utilisateur
                                                                    </p>
                                                                    <div
                                                                        class="d-flex justify-content-between align-items-center">
                                                                        <div class="d-flex align-items-center">
                                                                            <i
                                                                                class="mdi mdi-calendar text-muted me-1"></i>
                                                                            <p class="mb-0 text-small text-muted"> {{user.username}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="list align-items-center border-bottom py-2">
                                                                <div class="wrapper w-100">
                                                                    <p class="mb-2 font-weight-medium">
                                                                        Email
                                                                    </p>
                                                                    <div
                                                                        class="d-flex justify-content-between align-items-center">
                                                                        <div class="d-flex align-items-center">
                                                                            <i
                                                                                class="mdi mdi-calendar text-muted me-1"></i>
                                                                            <p class="mb-0 text-small text-muted">
                                                                                {{user.email}} </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="list align-items-center border-bottom py-2">
                                                                <div class="wrapper w-100">
                                                                    <p class="mb-2 font-weight-medium">
                                                                        Divison
                                                                    </p>
                                                                    <div
                                                                        class="d-flex justify-content-between align-items-center">
                                                                        <div class="d-flex align-items-center">
                                                                            <i
                                                                                class="mdi mdi-calendar text-muted me-1"></i>
                                                                            <p class="mb-0 text-small text-muted">
                                                                                {{user.division}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="list align-items-center border-bottom py-2">
                                                                <div class="wrapper w-100">
                                                                    <p class="mb-2 font-weight-medium">
                                                                        Profil
                                                                    </p>
                                                                    <div
                                                                        class="d-flex justify-content-between align-items-center">
                                                                        <div class="d-flex align-items-center">
                                                                            <i
                                                                                class="mdi mdi-calendar text-muted me-1"></i>
                                                                            <p class="mb-0 text-small text-muted">
                                                                                {{user.profile}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="list align-items-center border-bottom py-2">
                                                                <div class="wrapper w-100">
                                                                    <p class="mb-2 font-weight-medium">
                                                                        Statut
                                                                    </p>
                                                                    <div
                                                                        class="d-flex justify-content-between align-items-center">
                                                                        <div class="d-flex align-items-center">
                                                                            <i
                                                                                class="mdi mdi-calendar text-muted me-1"></i>
                                                                            <p class="mb-0 text-small text-muted">
                                                                                {{user.status}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="list align-items-center border-bottom py-2"
                                                                *ngIf="user.status == 'connecté' ">
                                                                <div class="wrapper w-100">
                                                                    <p class="mb-2 font-weight-medium">
                                                                        Date de derniére connexion
                                                                    </p>
                                                                    <div
                                                                        class="d-flex justify-content-between align-items-center">
                                                                        <div class="d-flex align-items-center">
                                                                            <i
                                                                                class="mdi mdi-calendar text-muted me-1"></i>
                                                                            <p class="mb-0 text-small text-muted">
                                                                                {{user.connectionTime | date:
                                                                                'dd/MM/yyyy
                                                                                HH:mm'}} </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="list align-items-center border-bottom py-2"
                                                                *ngIf="user.status == 'déconnecté' ">
                                                                <div class="wrapper w-100">
                                                                    <p class="mb-2 font-weight-medium">
                                                                        Date de derniére déconnexion
                                                                    </p>
                                                                    <div
                                                                        class="d-flex justify-content-between align-items-center">
                                                                        <div class="d-flex align-items-center">
                                                                            <i
                                                                                class="mdi mdi-calendar text-muted me-1"></i>
                                                                            <p class="mb-0 text-small text-muted">
                                                                                {{user.disconnectionTime | date:
                                                                                'dd/MM/yyyy
                                                                                HH:mm'}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="list align-items-center border-bottom py-2">
                                                                <div class="wrapper w-100">
                                                                    <p class="mb-2 font-weight-medium">
                                                                        Appareil de connexion
                                                                    </p>
                                                                    <div
                                                                        class="d-flex justify-content-between align-items-center">
                                                                        <div class="d-flex align-items-center"  *ngFor="let device of user.devices  ">
                                                                           
                                                                            <p class="mb-0 text-small text-muted">
                                                                                {{device.timestamp | date:'dd/MM/yyyy HH:mm'}} {{device.userAgent}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
    </div>
</div>