<div class="chat-app">
  <app-contacts></app-contacts>
    <div class="chat-container " *ngIf="chat.username">
      <div class="chat-header">
        <img [src]="'assets/images/images-placeholder.png'" alt="">
        <h2 *ngIf="chat.username">{{ chat.username }}</h2>
      </div>
      <mat-divider></mat-divider>
      <div class="chat-messages" #messageContainer>
        <ng-container *ngIf="messages$ | async as messages">
          <ng-container *ngFor="let message of messages; let i = index">
            <div class="message-date" *ngIf="showDate && (i === 0 || !areDatesEqual(message.sentAt, messages[i - 1]?.sentAt))">
              {{ message.sentAt | date: 'dd/MM/yyyy' }}
            </div>
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                <li class="nav-item">
                    <a routerLink="/home" class="icon nav-link   rounded-0" aria-current="page">
                        <mat-icon matSuffix>chat</mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contacts" class="icon nav-link   rounded-0" aria-current="page">
                        <mat-icon matSuffix>list</mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/groups " class="icon nav-link   rounded-0" aria-current="page">
                        <mat-icon matSuffix>group</mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/user/setting" class="icon nav-link   rounded-0" aria-current="page">
                        <mat-icon matSuffix>settings</mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <button 
                        class="icon nav-link  py-3 border-bottom rounded-0" aria-current="page">
                        <mat-icon>exit_to_app</mat-icon>
                </button>
                </li>
            </ul>
            </ng-container>
            </ng-container>
        </div>
        
    </div>
</div> 

<div class="row">
	<div class="col"></div>
	<div class="col"></div>
</div>
<div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form >
        
        <h3>Connectez-vous </h3>

        <label for="Email">Email</label>
        <input type="text" placeholder="Email " formControlName="email" id="Email" required >


        <label for="password">Mot de passe</label>
        <input type="password" placeholder="Mot de passe" formControlName="password" id="Mot de passe"  required >

        <div  class="error-label">
            Le formulaire est invalide. Veuillez remplir tous les champs correctement s'il vous plait.
          </div>

          <div  class="error-label">
            Verifiez les informations de connexion.
          </div>  
        <button type="submit">Se Connecter </button>
       
    </form>
