<!-- <div class="chat-app">

    <div class="side">
        <div class="d-flex flex-column flex-shrink-0 " style="width: 4.5rem;">
            <div class="dropdown border-top">
                <a href="#"
                    class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small shadow" style="">
                    <li><a class="dropdown-item" href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Nouveau projet...</font>
                            </font>
                        </a></li>
                    <li>
                        <a class="dropdown-item" routerLink="/dashboard">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Paramètres</font>
                            </font>
                        </a>

                    </li>
                    <li><a class="dropdown-item" href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Profil</font>
                            </font>
                        </a></li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">se déconnecter</font>
                            </font>
                        </a></li>
                </ul>
            </div>
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                <li class="nav-item">
                    <a routerLink="/home" class="icon nav-link   rounded-0" aria-current="page">
                        <mat-icon matSuffix>chat</mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contacts" class="icon nav-link   rounded-0" aria-current="page">
                        <mat-icon matSuffix>list</mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/groups " class="icon nav-link   rounded-0" aria-current="page">
                        <mat-icon matSuffix>group</mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/user/setting" class="icon nav-link   rounded-0" aria-current="page">
                        <mat-icon matSuffix>settings</mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <button 
                        class="icon nav-link  py-3 border-bottom rounded-0" aria-current="page">
                        <mat-icon>exit_to_app</mat-icon>
                </button>
                </li>
            </ul>
        </div>
    </div>
</div> -->

<div class="row">
	<div class="col"></div>
	<div class="col"></div>
</div>
<div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form >
        
        <h3>Connectez-vous </h3>

        <label for="Email">Email</label>
        <input type="text" placeholder="Email " formControlName="email" id="Email" required >


        <label for="password">Mot de passe</label>
        <input type="password" placeholder="Mot de passe" formControlName="password" id="Mot de passe"  required >

        <div  class="error-label">
            Le formulaire est invalide. Veuillez remplir tous les champs correctement s'il vous plait.
          </div>

          <div  class="error-label">
            Verifiez les informations de connexion.
          </div>  
        <button type="submit">Se Connecter </button>
       
    </form>
